<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>io.headspin.usbmuxd_bridge</string>
    <key>WorkingDirectory</key>
    <string>/Users/pbox/headspinio-remotecontrol</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/socat</string>
      <string>OPENSSL-LISTEN:$EXTERNAL_USBMUXD_PORT,fork,reuseaddr,cert=/Users/pbox/headspinio-remotecontrol/certs/usbmuxd_server.pem,cafile=/Users/pbox/headspinio-remotecontrol/certs/usbmuxd_client.crt</string>
      <string>UNIX-CONNECT:/var/run/usbmuxd</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardErrorPath</key>
    <string>/var/log/headspinio-dev/io.headspin.usbmuxd_bridge.err</string>
    <key>StandardOutPath</key>
    <string>/var/log/headspinio-dev/io.headspin.usbmuxd_bridge.out</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
